@charset "utf-8";
@import url(./utils.css);
@import url(./root.css);

html {
  font-family: 'Nunito Sans', 'Fira Sans', Arial, sans-serif;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.dark-mode {
    background-color: var(--app-color-dark-bg);
    color: var(--app-font-color-light);

    header {
      background-color: #670067;

      a:hover {
        background-color: rgb(162, 0, 162);
      }
    }

    .full-form {
      background-color: #292e40;
      box-shadow: 0px 0px 4px rgb(255 255 255 / 18%);
    }

    input[type=text] {
      background-color: var(--app-color-dark-bg);
      color: var(--app-font-color-light);
      border: 1px solid rgb(255 255 255 / 25%);
    }

    input[type=text]:focus {
      border: 1px solid rgb(162 0 162 / 70%)
    }

    input[type=button] {
      background-color: #670067;
    }

    input[type=button]:hover {
      background-color: #a200a2;
    }

    .result {
      color: var(--app-font-color-light);
      background-color: var(--app-color-dark-bg);
      box-shadow: 0px 0px 4px rgb(255 255 255 / 18%)
    }

    .button {
      background-color: var(--app-color-light-bg);
      
    }

    .button:hover{
      color: #f7b103;
      background-color: var(--app-color-light-bg);
      .fa-solid {
        color: #ffdf00;
      }
    }

    .fa-solid{
      color: #daa520;
    }
}

body {
  background-color: var(--app-color-light-bg);
}


/* - - - - - - - - - - - - - - - - */
/*          Header      670067     */
/* - - - - - - - - - - - - - - - - */
header {
  background-color: #a200a2;
  height: var(--unit-height);

  h1, li, .hamburger {
    line-height: var(--unit-height);
    color: var(--app-font-color-light);
  }
  
  h1 {
    font-size: 2.2rem;
    font-weight: 600;
  } 
}

.hamburger {
    display: none;
  }

ul {
  width: 25rem;
  gap: 5px;

  li {
    font-size: 1.5rem;
    font-weight: 400;
  
    a {
      padding: 3px 9px 5px 9px;
      border-radius: 4px;
      color: var(--app-font-color-light);
    }   

    a:hover {
      background-color: #d500d5;
    }
  }
}


/* - - - - - - - - - - - - - - - - */
/*          Form/Converter         */
/* - - - - - - - - - - - - - - - - */
.form-wrapper {
  height: calc(100svh - var(--unit-height));
}

.full-form {
  height: 300px;
  width: 400px;
  background-color: #fff;
  border-radius: var(--app-box-radius);
  box-shadow: var(--app-box-shadow);
}

.full-form h2 {
  font-size: 24px;
  font-weight: 500;
}

input[type=text] {
  height: 35px;
  width: 160px;
  padding: 8px;
  margin-right: 15px;
  border-radius: var(--app-box-radius);
  background-color: var(--app-color-light-bg);
  border: 1px solid rgb(0 0 0 / 25%);
}

input[type=text]:focus {
  border: 1px solid rgb(162 0 162 / 50%);
}

input[type=button] {
  font-size: 15px;
  padding: 6px 17px;
  border-radius: var(--app-box-radius);
  background-color: #a200a2;
  color: var(--app-font-color-light);
}

input[type=button]:hover {
  background-color: #d500d5;
}

.radios {
  margin-top: 5px;
}

.result {
  font-size: 16px;
  height: 30px;
  width: 260px;
  line-height: 30px;
  background-color: var(--app-color-light-bg);
  margin-top: -30px;
  padding-left: 8px;
  border-radius: var(--app-box-radius);
  border: 1px solid rgb(0 0 0 / 25%);
  box-shadow: inset var(--app-box-shadow);
}


/* - - - - - - - - - - - - - - - - */
/*        Button/toggle            */
/* - - - - - - - - - - - - - - - - */

.button {
  position: fixed;
  inset: auto 40px 40px auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--app-color-dark-bg);
}

.fa-solid {
  position: relative;
  top: 2px;
  font-size: 26px;
  color: var(--app-font-color-light);
}

.button:hover {
  background-color: #333;
}

/* - - - - - - - - - - - - - - - - */
/*        Media Queries            */
/* - - - - - - - - - - - - - - - - */

 @media screen and (max-width: 550px) {
 header{
  h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .hamburger {
    display: block;
    font-size: 1.8rem;
  }

  nav {
    display: none;
  }
 }
  
}





